div#form{
    position:absolute;
    top:50%;
    width:90%;
    height:40%;
    background:rgb(255,255,255);
    background:rgba(255,255,255,0.8);
    padding:5%;
    margin:5%;

}

#overlay_marker{
    position:absolute;
    top:28%;
    left:49%;
    height:16px;
    width:16px;
    background:url('../images/gpsloc.png') no-repeat;
}

label{
    clear:both;
    float:left;
    width:30%;

}

input, select{
    float:right;
    width:60%;
}

